# Pre define functions
        anyName() # Pre define function
        ref.anyName() # Pre define method
        ref.anyName # Attributes
# Operators
# Control Flow

In [1]:
print("My name is Majid Aziz")

My name is Majid Aziz

In [6]:
a = "Pakistan"
print (a)
print (type(a))

Pakistan
<class 'str'>

# String Class Method and Attributes

In [8]:
a = "PaKistan ziNda bad"
print(a)

PaKistan ziNda bad

In [9]:
a.capitalize() #inline

'Pakistan zinda bad'

In [5]:
a.upper()

'PAKISTAN ZINDA BAD'

In [10]:
a.title()

'Pakistan Zinda Bad'

In [11]:
print(a)

PaKistan ziNda bad

In [12]:
a.lower()

'pakistan zinda bad'

In [13]:
help(print) # print function complete help

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [16]:
print?

In [17]:
a.center??

In [18]:
abc = """
*******PIAIC**********
saylani welfare trust
City: Karachi
Country: Pakistan
Name: Majid Aziz
Father name: Aziz
Roll no: 123
"""
abc

'\n*******PIAIC**********\nsaylani welfare trust\nCity: Karachi\nCountry: Pakistan\nName: Majid Aziz\nFather name: Aziz\nRoll no: 123\n'

In [19]:
abc = """
*******PIAIC**********
saylani welfare trust
City: Karachi
Country: Pakistan
Name: Majid Aziz
Father name: Aziz
Roll no: 123
"""
print(abc)

*******PIAIC**********
saylani welfare trust
City: Karachi
Country: Pakistan
Name: Majid Aziz
Father name: Aziz
Roll no: 123

In [20]:
abc = '''
*******PIAIC**********
saylani welfare trust
City: Karachi
Country: Pakistan
Name: Majid Aziz
Father name: Aziz
Roll no: 123
'''
print(abc)

*******PIAIC**********
saylani welfare trust
City: Karachi
Country: Pakistan
Name: Majid Aziz
Father name: Aziz
Roll no: 123

In [21]:
abc = """
*******PIAIC**********
Saylani Welfare Trust
Name: Majid Aziz
Father name: Aziz
Roll no: 123
"""
print(abc)

*******PIAIC**********
Saylani Welfare Trust
Name: Majid Aziz
Father name: Aziz
Roll no: 123

In [24]:
name = "Majid Aziz"
father_name = "Aziz ur Rehman"
roll_no = 123

abc = """
*******PIAIC**********
Saylani Welfare Trust
Name: {}
Father name: {}
Roll no: {}
"""
print(abc.format(name, father_name, roll_no))

*******PIAIC**********
Saylani Welfare Trust
Name: Majid Aziz
Father name: Aziz ur Rehman
Roll no: 123

In [1]:
a=print("Pakistan")
print(a) # not return function

Pakistan
None

In [4]:
a = input("Enter your Name")
a

Enter your NameMajid Aziz

'Majid Aziz'

In [5]:
#dynamic values
name = input("Enter your name")
father_name = input("Enter your father name")
roll_no = input("Enter your roll no")

abc = """
*******PIAIC**********
saylani welfare trust
Name: {}
Father name: {}
Roll no: {}
"""
print(abc.format(name, father_name, roll_no))

Enter your nameMajid Aziz
Enter your father nameAziz ur Rehman
Enter your roll no300

*******PIAIC**********
saylani welfare trust
Name: Majid Aziz
Father name: Aziz ur Rehman
Roll no: 300

In [6]:
a="pakistan"
b="zinda bad"
a+b #concatination

'pakistanzinda bad'

In [7]:
a = 5
b = 7
a + b # Addition

12

In [8]:
5+7

12

# Operators

In [11]:
# pemdas
+, -, *, /, %, //, ** # mathematics(% modulus remainder value // float division ignore decimal#)
=, +=, -=, *=, /=, %= # Assign operator
==, >, <, >=, <=, !=, <> # logical operators
and, or # combine logic checking

SyntaxError: invalid syntax (<ipython-input-11-b181475bba9f>, line 2)

# +, -, *, /, %, // # Mathematics

In [12]:
5+2

7

In [13]:
4-2

2

In [14]:
3*5

15

In [15]:
12/3

4.0

In [22]:
15%4 # Modulus

3

In [17]:
15/4

3.75

In [21]:
15//4 # Float division

3

In [20]:
# 2*2*2=8
2**3

8

In [24]:
2+6*8/5+(2*3)

17.6

In [23]:
# pemdas rules
2 + 6 * 8 / 5 + (2*3)
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.5 + 6
2 + 15.6
17.5

17.5

# =, +=, -=, *=, /=, %= # Assign operator

In [25]:
a = "Pakistan"
a

'Pakistan'

In [26]:
a = "China"
a

'China'

In [27]:
a*2

'ChinaChina'

In [28]:
a="abc"
a

'abc'

In [30]:
a+="xyz"
a

'abcxyzxyz'

In [31]:
a*=2
a

'abcxyzxyzabcxyzxyz'

In [32]:
a=15
a%=4
a

3

In [34]:
# 3*3*3
a**=3
a

27

In [35]:
a= 'abv'
a**=2
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# ==, >, <, >=, <=, !=, <> # logical operators

In [36]:
5 == 5

True

In [37]:
5 == 3

False

In [38]:
5 > 3

True

In [39]:
5 < 3

False

In [40]:
5 > 5

False

In [41]:
5>=5

True

In [42]:
5 !=5

False

In [43]:
6 < 6

False

In [44]:
6 <= 6

True

In [47]:
5 == 5 and 6 <= 7 and 10 >= 9
# True and True and True
# True

True

In [48]:
5 == 5 and 6 <= 7 and 10 >= 11

False

In [49]:
 5 == 5 or 6 <= 7 and 10 >= 9

True

In [51]:
a = 'abc'
b = 'xyz'
c = '27'
a + b + c

'abcxyz27'

In [52]:
a = 'abc'
b = 'xyz'
c = '27'
print(a,b,c)

abc xyz 27

In [53]:
a = 'abc'
b = 'xyz'
c = 27
print(a,b,c)

abc xyz 27

In [54]:
a = 'abc'
b = 'xyz'
c = 27
a + b + str(c)

'abcxyz27'

In [55]:
a = '1'
b = '1'
a + b

'11'

In [56]:
a = input()
b = input()
a+b

1
1

'11'

In [57]:
int(a)+int(b)

2

In [58]:
float(a) + float(b)

2.0

In [59]:
a+b

'11'

In [60]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Control Flow
loop (for, while)
exception
if else elif
switch

# If, else, elif

In [61]:
if logic:
    true value
else:
    false value

SyntaxError: invalid syntax (<ipython-input-61-437edb9e9874>, line 2)

In [ ]:
if logic1:
    true value 1
elif logic2:
    false value 2
elif logic3:
    false value 3
else:
    false value

In [ ]:
if logic1 and logic2 and logic3:
    true value
else:
    false value

In [64]:
name = input("Enter your name")
if name == "majid":
    print("Teacher")
else:
    print("Student")

Enter your namemajid
Teacher

In [2]:
name = input("Enter your name")
if name.lower() == "majid":
    print("Teacher")
else:
    print("Student")

Enter your nameMaJId
Teacher

In [1]:
name = input("Enter your name")
if name.lower == "majid":
    print("Teacher")
else:
    print("Student")

Enter your namemAjId
Student

In [3]:
per = 78

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")
elif per >= 33:
    print("A+")

Fail

In [4]:
per = 79

if per >= 0 and per <33:
    print("Fail")
elif per >= 33 and per <40:
    print("E")
elif per >= 40 and per <50:
    print("D")
elif per >= 50 and per <60:
    print("C")
elif per >= 60 and per <70:
    print("B")
elif per >= 70 and per <80:
    print("A")
elif per >= 33 and per <100:
    print("A+")
else:
    print("Not valid")

A

In [5]:
per = 78

if per >= 80:
    print("A+")
elif per>=70:
    print("A+")
else:
    print("Fail")

A+

# List

In [7]:
names = ['majid', 'wajid', 'sajid']
names

['majid', 'wajid', 'sajid']

In [8]:
names[2] #ref[IndexNumber]

'sajid'

In [9]:
names

['majid', 'wajid', 'sajid']

In [10]:
names[2] = 'Rashid'
names

['majid', 'wajid', 'Rashid']

In [1]:
names = []
while True:
    a = input("names")
    if a!='x':
        names.append(a)
    else:
        break
names

namesMajid
namesRashid
namesWajid
namesSajid
namesNomi
namesx

['Majid', 'Rashid', 'Wajid', 'Sajid', 'Nomi']