# List All methods and attributes
https://www.youtube.com/watch?v=EYKqyylyZUo&list=PLFsPVpfBinZMnxxpxBPz4igEH9snQqxta&index=2&fbclid=IwAR0UG7nNBatPExtMjlFBRsBHuB2AnPbQGugObKqWViNEYao23c_MNqGtnyk

1) List
    method
    indexing
    Slicing
    list comprehensive
2) Loop
    for
    while
3) Dictionary

## List

In [1]:
l1 = ["Majid", 28, True, 7.0] #index start 0
l1

['Majid', 28, True, 7.0]

In [2]:
dir(l1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [4]:
l1.__class__

list

In [7]:
l1.__doc__

'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'

## List Indexing

In [10]:
l1

['Majid', 28, True, 7.0]

In [ ]:
obj[index] left to right positve value if right to left value negative

In [12]:
l1[2] #positive indexing starting with 0 (left to right)

True

In [13]:
l1[-3] #negative indexing starting with -1 (right to left)

28

In [15]:
len(l1) #count number of elements

4

In [16]:
l1

['Majid', 28, True, 7.0]

In [19]:
l1[1] = 100 #update index 1 value (28) to 100
l1

['Majid', 100, True, 7.0]

In [20]:
l1[-1] = 1000 #update index -1 value (7.0) to 1000
l1

['Majid', 100, True, 1000]

In [22]:
l1[4] #There is no value for Index 4. IndexError: list index out of range

IndexError: list index out of range

In [23]:
l1

['Majid', 100, True, 1000]

## While Loop -- Repitition of code
    Function prevents repitition of code

In [27]:
i = 0 # starting Index i = 0 initialize variable
while i < len(l1): # Check logic with Index range i < 4
    print(l1[i])
    i += 1 # increment

Majid
100
True
1000

In [29]:
i = len(l1)-1 # starting Index
while i >= 0: # check logic with index range -- 3 >=0, 2 >=0, 1, 0
    print (l1[i])
    i -= 1 # Decrement

1000
True
100
Majid

In [30]:
l1

['Majid', 100, True, 1000]

# For Loop -- Repitition of code
    Function prevents repitition of code

In [31]:
l1

['Majid', 100, True, 1000]

In [33]:
for e in l1:
    print(e)

Majid
100
True
1000

In [34]:
l2 = [1, 7, 9, 8, 20, 13, 15]
l2

[1, 7, 9, 8, 20, 13, 15]

In [35]:
sorted(l2) # Ascending Oder, perfom inline operation this will not change real time data

[1, 7, 8, 9, 13, 15, 20]

In [36]:
sorted(l2, reverse=True) # Descending Order, Inline operation, real data not updated

[20, 15, 13, 9, 8, 7, 1]

In [38]:
 l2 # Real data not updated

[1, 7, 9, 8, 20, 13, 15]

In [41]:
l2.sort() # In memory, real data will change after execution of this command

In [43]:
l2 # real data updated. above command dont show the output until you execi=ute the list again

[1, 7, 8, 9, 13, 15, 20]

In [45]:
l2.sort(reverse=True) # In memory, real data updated in descending order
l2

[20, 15, 13, 9, 8, 7, 1]

In [46]:
l2

[20, 15, 13, 9, 8, 7, 1]

# Generator function
range (start, end, step) 
start = Include
end = Exclude
step = Sequence # map is also a generator function

In [49]:
range(11)

range(0, 11)

In [50]:
range(1, 11)

range(1, 11)

In [51]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [53]:
list(range(0,101,10)) # end value 101 is excluded

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [54]:
list(range(0,100,10)) # end value 100 is excluded

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [55]:
list(range(25,251,25)) # range(start,end, step) step = sequence

[25, 50, 75, 100, 125, 150, 175, 200, 225, 250]

In [56]:
chr(65)

'A'

In [57]:
ord('a') # will print alphabet order

97

In [58]:
ord('Z')

90

In [59]:
l1 = list(range(65,91))
l1

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [62]:
for e in l1:
    print(chr(e))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [64]:
l1 = list(range(65, 91))
l1

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [65]:
list(map(chr,l1))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [66]:
l1 = ['majid', 'asif', 'haseeb']
list(map(len, l1))

[5, 4, 6]

In [68]:
l1 = list(range(1, 11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
list(map(float, l1))

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

map(functiona_name, list)

In [70]:
chr(48)

'0'

### 0 - 9 (48 to 57)
### A - Z (65 to 90)
### a - z (97 to 122)

In [71]:
l1 = list (range(97, 123))
l1

[97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122]

In [74]:
l2 = list(map(chr, l1))
l2

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [77]:
l3 = list(range(48,58))
l3
list(map(chr, l3))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

# Slicing
## obj[start : end : step]
## start include
## end exclude
## step = sequence

In [78]:
l1 = list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
# extract top five elements
l1 [0:5] # left to right if step +
         # right to left if step -

[1, 2, 3, 4, 5]

In [24]:
l1 = list (map(chr, list (range(65,91))))
print (l1, sep=" ")

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [25]:
l1 = list (map(chr, list (range(65,91))))
print (*l1, sep=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [26]:
 l1[0:9]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [27]:
l1[0:26]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [87]:
l1[1:1]

[]

In [28]:
l1[0:]
# l1[:]
# l1[::]
# l1[0::]
# l1[-26:]
# l1[-26::]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [89]:
l1[::-1] # This command will print alphabets in decsending order

['Z',
 'Y',
 'X',
 'W',
 'V',
 'U',
 'T',
 'S',
 'R',
 'Q',
 'P',
 'O',
 'N',
 'M',
 'L',
 'K',
 'J',
 'I',
 'H',
 'G',
 'F',
 'E',
 'D',
 'C',
 'B',
 'A']

In [90]:
l1[-5:-7:]

[]

In [91]:
l1[-5:-7:-1]

['V', 'U']

In [92]:
l1[::2]

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [94]:
l1[5:]
# l1 [5::]
# l1 [5::1]
# l1 [-20::-1]

['F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [95]:
l1[:2] + l1[-3:] #inline

['A', 'B', 'X', 'Y', 'Z']

In [96]:
 l1

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

# List Comprehensive 32

for e in l1: #e = element, l1 = list
    print(e) # statement

if login:
    True_value
else:
    False_value

In [4]:
# True_value if logic else False_value
a = 5
 
if a == 5:
    print("Pakistan")
else:
    print("China")

Pakistan

In [6]:
a = 5
'Pakistan' if a==5 else 'China'

'Pakistan'

In [1]:
#[statement for element in list]
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
[x*2 for x in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [3]:
["{} x {} = {}".format(2, x, x*2) for x in range(1,11)]

['2 x 1 = 2',
 '2 x 2 = 4',
 '2 x 3 = 6',
 '2 x 4 = 8',
 '2 x 5 = 10',
 '2 x 6 = 12',
 '2 x 7 = 14',
 '2 x 8 = 16',
 '2 x 9 = 18',
 '2 x 10 = 20']

In [4]:
for x in range (1,1000):
    if x%5==0 and x%7==0 and x%40==0:
        print(x)

280
560
840

In [5]:
#[value true for element in list if logic else value false]
[x for x in range (1,1001) if (x%5==0 and x%7==0 and x%40==0)]

[280, 560, 840]

In [9]:
[e if (e%5 == 0 and e%7 == 0 and e%40 == 0) else 'none' for e in range (1,1001)]

['none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 280,
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 560,
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 840,
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none']

In [10]:
{x:x for x in range (1,11)}

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [29]:
l1

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [30]:
l1.__contains__

In [31]:
dir(l1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [32]:
dir(l1)[:35] # all attributes withiut method

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [33]:
l2=['Majid']
l2.append('Ali')
l2

['Majid', 'Ali']

In [35]:
a = list ("Pakistan Zinda Bad")
a

['P',
 'a',
 'k',
 'i',
 's',
 't',
 'a',
 'n',
 ' ',
 'Z',
 'i',
 'n',
 'd',
 'a',
 ' ',
 'B',
 'a',
 'd']

In [36]:
a = list ("Pakistan Zinda Bad")
a.count('a')

4

In [37]:
a1 = ['a','b']
a2 = ['z','x']
a1 + a2 #inline

['a', 'b', 'z', 'x']

In [38]:
a1.extend(a2) # in memory

In [39]:
a1

['a', 'b', 'z', 'x']

In [40]:
a1.insert (0, 'majid')
a1

['majid', 'a', 'b', 'z', 'x']

In [42]:
l1 = ['majid', 'ali', 'hamza', 'shakeel', 'haris']
del l1[0]
l1

['ali', 'hamza', 'shakeel', 'haris']

In [43]:
print(l1)
a = l1.pop() # index (remove from last) return
print(l1)
print(a)

['ali', 'hamza', 'shakeel', 'haris']
['ali', 'hamza', 'shakeel']
haris

In [44]:
l1.pop(0)
l1

['hamza', 'shakeel']

In [45]:
l1.remove('hamza')
l1

['shakeel']

In [47]:
l1.index('shakeel')

0

In [48]:
l1

['shakeel']

In [49]:
list(enumerate(l1)) # list value index

[(0, 'shakeel')]

In [50]:
a = 5
b = 5

print(id(a))
print(id(b))

140726551155648
140726551155648

In [51]:
a = 7
print(b)

5